@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
  color: #f5f5f5;
  background: rgb(12, 13, 18);
}

.content {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  max-width: 1000px;
  padding: 20px 0;
  margin: auto;
  background: black;
}

.flash-error {
  background-color: rgba(168, 19, 33, 0.5);
  border: red solid 1px;
  border-radius: 5px;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 30px;
}
