<link rel="stylesheet" href="/stylesheets/header.css" />
<nav class="nav">
  <div class="logo">
    <a href="#">NicoDotBeer</a>
  </div>
  <div id="mainListDiv" class="main_list">
    <ul class="navlinks">
      <li><a href="#">Home</a></li>
      <li><a href="#">Upload</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </div>
  <span class="navTrigger">
    <i></i>
    <i></i>
    <i></i>
  </span>
</nav>
<div class="nav-placeholder"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/scripts/header.js"></script>
